PORT=3000

DATABASE_URL=postgresql://neondb_owner:npg_YMJCPmD5tUk4@ep-delicate-pine-an90ehc4-pooler.c-6.us-east-1.aws.neon.tech/Raahi_Services_V2?sslmode=require&channel_binding=require
DB_USERNAME=postgres
DB_PASSWORD=yourpassword
DB_NAME=service_db